* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-image: url(../img/background.png);
	background-color: grey;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h3 {
	text-transform: uppercase;
	text-align: center;
	color: #02908B;
	font-size: 48px;
	font-weight: 700;
	padding-top: 40px;
}

/* NAVIGATION */
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: #02908B;
	display: block;
}

.logo {
	float: left;
	display: inline-block;
	font-size: 26px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	margin-left: 15px;
}

.logo span {
	color: #cfc91d;
}

.nav-buttons {
	float: right;
	list-style: none;
	margin-top: 10px;
	margin-right: 10px;
}

.nav-buttons li {
	display: inline-block;
	margin: 0 15px;
}

.nav-buttons li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}/* END NAVIGATION */


/* HEADER */
header {
	height: 100vh;
	text-align: center;
	color: #ffffff;
}

h1 {
	padding-top: 210px; 
	font-size: 36px;
}

h2 {
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: .3em;
}

header p {
	margin-bottom: 20px;
}

i.fa {
	display: block;
}

header a {
	color: #000000;
	background-color: #cfc91d;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 35px;
	font-weight: 700;
	font-size: 14px;
	transition: ease 1s;
}

header a:hover {
	background-color: #ffffff;
}/* END HEADER */


/* ABOUT ME SECTION */
.about {
	background-color: #ffffff;
	text-align: center;
	color: #7e8287;
	padding-bottom: 35px;
}

.about hr {
	width: 30%;
	margin: 15px auto 25px auto;
}

.about > p {
	margin: 25px auto;
	width: 70%;
	line-height: 40px;
}

.about > p span {
	font-weight: 600;
	font-size: 24px;
}

.about-grid {
	width: 75%;
	margin: 0 auto;
}

.about-grid div {
	display: inline-block;
	width: 15%;
	padding: 0 4%;
}

.about-grid div:nth-child(n+2) {
	border-left: solid black 1px 
}

.about-grid .fa {
	color: #02908B;
}

.about-grid h4 {
	margin: 15px auto;
}

.about-grid p {
	font-size: 11px;
	font-weight: 600;
}

/* SERVICES SECTION */
.services {
	background-color: #f0f0e8;
	height: 800px;
	margin-right: -2%;
}

.left-services, .right-services {
	display: inline-block;
	width: 49%;
	height: 100%;
	vertical-align: top;
}

.left-services {
}


/* ARTICLE */
.left-services .article {
	margin: 0 auto;
	padding-left: 10%;
	width: 75%;
}

.left-services .article h3 {
	text-align: left;
}

.left-services .article hr{
	width: 60%;
	margin: 25px 0;
}

.left-services .article p {
	color: #7e8287;
	line-height: 40px;
	margin-bottom: 40px;
}/*END ARTICLE*/


/* GRID */
.services-grid {
	margin: 0 auto;
	padding-left: 10%;
	width: 75%;
	color: #7e8287;
}

.services-grid > div {
	display: inline-block;
	width: 39%;
	margin-right: 10%;
	margin-bottom: 20px;
}

.services-grid i{
	color: #02908B;
}

.services-grid h4 {
	margin: 15px auto;
	font-size: 18px;
}

.services-grid p {
	font-size: 11px;
	font-weight: 600;
	margin-bottom: 20px;
}/*END GRID*/

.right-services {
	background-position: center;
	background-image: url(../img/laptop.png);
	background-size: cover;
}/* END SERVICES SECTION*/


/* CONTACT SECTION */
.contact {
	background-color: #0B0B0B;
}


/* TOP */
.contact-top {
	background-color: #ffffff;
	padding-bottom: 35px;
}

.contact-top hr {
	width: 30%;
	margin: 15px auto 25px auto;
}

.contact-top > p {
    margin: 25px auto;
    width: 55%;
    line-height: 40px;
    color: #7e8287;
    text-align: center;
}

/* CONTACT FORM */
.contact-bottom {
	background-color: #0B0B0B;
	text-align: center;
	padding: 25px 0;
}

.contact-bottom label {
	margin-top: 35px;
	display: block;
	color: #7D8186;
	text-transform: uppercase;
}

.contact-bottom input, .contact-bottom textarea {
	background: transparent;
	border: none;
	border-bottom: solid #7D8186 1px;
	width: 60%;
	font-size: 24px;
	color: #7D8186;
	text-align: center;
}

.contact-bottom input, .contact-bottom textarea:focus{
	outline: none;
}

.contact-bottom input {
	height: 30px;
}

.contact-bottom textarea {
	border-top: solid #7D8186 1px;
	margin-top: 24px;
}

.submit {
	margin: 45px auto;
}

.submit > button {
	background-color: #CDC71D;
	padding: 10px 35px;
	border: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	color: #0B1016;
	transition: ease 1s;
}

.submit > button:hover {
	background-color: #ffffff;
}/*END CONTACT*/

/* FOOTER */
footer {
	background-color: #000000;
	color: #7D8186;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}